
$body-bg-color: #8ccbf6;
$container-bg-color: #ffd700;
$button-bg-color: #8ccbf6;
$button-hover-bg-color: #ffa500;
$button-active-bg-color: #ffa500;
$link-border-color: #ffd700;
$link-hover-bg-color: #ffd700;
$link-hover-text-color: #8ccbf6;
$shadow-color: rgba(0, 0, 0, 0.1);

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $body-bg-color;
  overflow: hidden;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      font-size: 1.2rem;
    }
  }

  .container {
    margin: auto;
    padding: 20px;
    width: 40%;
    background-color: $container-bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0 0 10px $shadow-color;

    .heading {
      font-size: 2.5rem;
      color: #323232;
      margin-bottom: 20px;
    }

    .info {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

  .list{
      // display: flex;
      li{
        list-style: none;
        
      }
    }  

    form {
      width: 100%;

      input {
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        font-size: 1rem;
        border: 2px solid #ffa500;
        margin-bottom: 15px;
        box-sizing: border-box;

        &:focus {
          outline: 3px solid #ffa500;
        }
      }

      button {
        width: 20%;
        border-radius: 10px;
        padding: 10px;
        background-color: $button-bg-color;
        border: 2px solid #ffa500;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          background-color: $button-hover-bg-color;
        }

        &:active {
          background-color: $button-active-bg-color;
        }
      }
    }
    
  }

  .not-found-pic-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 1vh;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;

    a {
      width: 30%;
      font-size: 1rem;
      box-shadow: 0 0 10px rgba(50, 50, 50, 0.4235294118);
      text-decoration: none;
      border: 2px solid $link-border-color;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      color: #323232;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:active {
        box-shadow: none;
        background-color: $link-border-color;
        color: $link-hover-text-color;
      }

      &:hover {
        transform: scale(1.1);
        background-color: $link-hover-bg-color;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    img {
      width: 100%;
      max-height: inherit;
      object-fit: contain;
    }
  }
}

@media (max-width: 767px) {
  /* Styles for small screens (e.g., mobile phones) */

  body .container {
    width: 80%;
    form {
      width: 100%;

      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
